$clr-primary: #F15A24;
$clr-black :black;
$clr-dark: #231F20;
$clr-dark2:#101010;
$clr-dark-grey: #333333;
$clr-grey: #5B5B5B;

$clr-white: white;
$clr-light: #c5bfbf;

$clr-orange: #FBB03B;
$clr-dark-orange: #F7931E;
$clr-red-orange: #F15A24;
//height
$footer-height:60px;
$header-height:60px;
