﻿.bg-plus-main {
    min-height: calc(100vh - 140px);
    margin-top: size(70);
    /*margin-bottom: size(70);*/

    .bg-plus-content {
        background-color: $clr-grey;
        position: relative;
    }


    .hint-content {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: 0;
        background: white;
        z-index: 0;
        padding: 15px;
        z-index: 10;
        transform: translateY(-100%);
        transition: all 1s ease-in-out;
        background-clip: content-box;
        overflow: auto;
    }

    .post {
        overflow: hidden;
        position: relative;
        max-width: 400px;
        margin: auto;
        height: calc(100vh - 70px);
        padding: 15px;
        align-content: center;
        /* Safari 10.1+ */
        @media not all and (min-resolution:.001dpcm) {
            height: calc(100% - 140px);
        }

        display: grid;
        /*fit inside screen*/
        /*grid-template-rows: 68px minmax(100px,calc(100vh - 140px - 191px - 20px)) size(30) size(93);*/
        grid-template-rows: auto auto 1fr 1fr;
        /*fit inside screen*/
        &-header {
            background-color: $clr-black;
            position: relative;
            overflow-x: hidden;
            padding-top: 10px;
            padding-bottom: 6px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .date {
                color: white;
                text-align: center;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }

            img {
                position: absolute;
                height: 60%;
                display: block;
                top: 50%;
                right: size(10);
                transform: translateY(-40%);
            }

            .number-boxes {
                display: flex;
                justify-content: center;
                margin-bottom: 5px;
                /*height: 100%;*/
                .box {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &-1 {
                        background-color: $clr-orange;
                    }

                    &-2 {
                        background-color: $clr-dark-orange;
                    }

                    &-3 {
                        background-color: $clr-red-orange;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }

            
        }

        &-main {
            /*fit inside screen*/
            position: relative;
            overflow: hidden;
            /*fit inside screen*/
            img {
                /*fit inside screen*/
                /*  position: absolute;
                max-width: 100%;
                width: 100%;
                height: auto;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50%);
                width: calc(100vh - 140px - 191px - 20px);*/
                width: 100%;
                height: 100%;
                /*fit inside screen*/
            }
        }

        &-game-name {
            color: white;
            background-color: $clr-black;
            @include abs-flex-center;
        }

        &-btns {
            background-color: $clr-dark-grey;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: size(15);
            padding-bottom: size(15);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            button {
                width: size(200);
                border: none;
                padding-top: 3px;
                padding-bottom: 3px;
                border-radius: 5px;

                &:first-of-type {
                    margin-bottom: size(7);
                }
            }

            img {
                width: 100%;
                height: 30%;
            }
        }
    }

    .box-multiple {
        display: none !important;
        background-color: $clr-grey;
        color: $clr-white;
    }

    .multiple-posts {
        .box-multiple {
            display: none !important;
        }
    }
}


.menu-content {
    position: absolute;
    z-index: 20;
    top: 83px;
    /* left: 15px; */
    width: calc(100% - 30PX);
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 372px);
    .card{
        height:100%;
    }
}
.menu-bars {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}
.menu-content {
    position: absolute;
    top: 70px !important;
    right: -1px;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 0;
    padding: 15px;
    z-index: 10;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    background-clip: content-box;
    width: 100%;
    height: calc(100vh - 208px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
/*    border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /*height: calc(100vh - 68px - 70px - 30px) !important;*/
    position: fixed;
    margin-left: auto;
    max-width: 400px;
    height: calc(100vh - 70px) !important;
    margin-right: auto;
    /*  max-width: 400px;
    margin-left: auto;
    margin-right: auto;*/
    .menu-close {
        position: absolute;
        top: 40px;
        right: 45px;
        color: white;
        font-size: 15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menu-btns {
        display: flex;
        flex-direction: column;


        button {
            width: size(200);
            border: none;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 5px;
        }

        > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
