// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: size(70);
    background-color: $clr-dark-grey;
    z-index: 10;
    box-shadow: 0px -1px 1px rgba(255,255,255,0.1);
    /*border-radius: 0 0 20px 20px;*/
    &-icons {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            height: inherit;
            display: flex;
            align-items: center;
        }

        img {
            max-width: 100%;
            height: 70%;
        }
    }
}