// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: size(70);
    background-color: $clr-dark-grey;
    z-index: 1100;
    /*border-radius: 20px 20px 0 0;*/
    .logo-container {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        @include abs-center;

        img {
            max-width: 100%;
            height: 80%;
        }
    }

    .menu-bars {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(120px, -50%);
        display: flex;
    }
}
