﻿.modal-bacdrop{
    position:absolute;
}
.modal {
    height: calc(100vh - 70px);
    overflow: auto !important;
    position: fixed;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 14px !important;
    padding-left: 14px !important;
    top: 70px !important;

    .modal-dialog {
        margin: 0 !important;
        border-radius: 8px !important;
        height: 100%;
    }

    .modal-content {
        display: grid;
        grid-template-rows: auto auto 1fr;
        min-height: calc(100% - 29px);
        border-radius: 10px;
        overflow: hidden;
    }
}

.modal {
    color: $clr-white;

    .modal-content {
        background-color: $clr-black;
    }

    .modal-dialog {
        margin: size(69) auto;
    }

    .modal-header {
        justify-content: center;
        border-bottom: 0;

        .game-img {
            width: 80px;
            height: 80px;
        }

        .close {
            position: absolute;
            top: 50px;
            right: 50px;
            border: none;
            outline: none;

            img {
                width: 30px;
            }
        }
    }

    .modal-name {
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: $clr-white;
        color: black
    }

    .modal-body {
        background-color: $clr-dark-grey;
        @include abs-flex-center;
        text-align: center;
        padding:1rem 3rem;
    }
}

.answer-modal {
    .modal-body {
        flex-direction: column;
    }

    img {
        width: 100px;
    }

    .img-push{
        width:50px;
    }
}

body.modal-open {
    overflow: scroll;
    padding-right:0 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body::-webkit-scrollbar,
.modal::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-body,
.modal{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.push-modal {
    .modal-content {
        background-color: $clr-dark2;
        border-top: 0 !important;
        min-height: calc(100% - 20px);
    }

    .modal-body {
        margin-top: size(100) !important;
        flex-direction: column;
        background-color: inherit !important;

        h4 {
            margin-bottom: size(17) !important;
        }

        > *:not(:last-child) {
            margin-bottom: size(10);
        }

        button {
            width: 250px !important;
            max-width: 100% !important;
        }

        .btn-black {
            background-color: black;
            color: $clr-light;
            border: 1px solid $clr-light;

            &:hover {
                background-color: $clr-dark2;
            }
        }
    }
}