// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-base {
    width: 12.5rem;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}


/**button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-primary {
    @include button-variant($clr-primary, $clr-primary,darken($clr-primary,7.5%), darken($clr-primary,10%),darken($clr-primary, 10%),darken($clr-primary, 12.5%));
}

.btn-secondary {
    @include button-variant($clr-grey, $clr-grey,darken($clr-grey,7.5%), darken($clr-grey,10%),darken($clr-grey, 10%),darken($clr-grey, 12.5%));
}