/**
 * Basic typography style for copy text
 */
html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Ubuntu', sans-serif;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a,
a:visited {
    color: inherit;
}
